<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Book</title>
    </head>
    <body style="text-align: center">
        <h1>Add new book</h1>
        <form action="/books" method="post">
            <label for="name">Name:</label>
            <input
                type="text"
                id="name"
                name="name"
                placeholder="Name"
                required
            />
            <br />
            <label for="author">Author</label>
            <input
                type="text"
                id="author"
                name="author"
                placeholder="Author"
                required
            />
            <br />
            <label for="price">Price</label>
            <input
                type="number"
                name="price"
                id="price"
                placeholder="Price"
                required
            />
            <br />
            <label for="description">Description</label>
            <textarea
                name="description"
                id="description"
                placeholder="Description"
                required
            ></textarea>
            <br />
            <br />
            <label for="category">Category</label>
            <select name="category" id="category">
                <% for (category of categories) { %>
                <option value="<%= category %>"><%= category %></option>
                <% } %>
            </select>
            <br />
            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="Available">Available</option>
                <option value="Unavailable">Unavailable</option>
            </select>
            <br />
            <label for="quantity">Quantity</label>
            <input
                type="number"
                name="quantity"
                id="quantity"
                placeholder="Quantity"
            />
            <input type="submit" value="Add Book" />
        </form>
        <a href="/books">Back</a>
    </body>
</html>
